<div id="header_image"><img src="IMG/house.jpg" alt="house.jpg"></div>
<div class="booking">
    <h3>Book unique places to stay and things to do.</h3><br>
    <form method="POST" action="">
        <label>WHERE</label><br>
        {{!-- <input type="text" name="booking_where" id="booking_where" class="booking_field"
                    placeholder="Anywhere"><br><br> --}}
        <select name="booking_where_name" id="booking_where" class="booking_field">
            <option value="Anywhere">Anywhere</option>
            <option value="Toronto">Toronto</option>
            <option value="Hamilton">Hamilton</option>
            <option value="Kitchener">Kitchener</option>
            <option value="London">London</option>
        </select>
        <div class="errors">{{message.where}}</div>
        <div id='booking_dates'>
            <label id='l_1'>CHECK-IN</label>
            <input type="date" name="booking_checkin_name" id="booking_checkin" class="booking_field">
            <div class="errors">{{message.check_in}}</div>
            <label id="l_2">CHECK-OUT</label>
            <input type="date" name="booking_checkout_name" id="booking_checkout" class="booking_field">
            <div class="errors">{{message.check_out}}</div>
        </div>
        <div class="errors">{{message.check_date_before}}</div>
        <label>GUESTS</label><br>
        <select name="booking_guests_name" id="booking_guests" class="booking_field">
            <option value="1_guest">1 guest</option>
            <option value="2_guest">2 guests</option>
            <option value="3_guest">3 guests</option>
            <option value="4_guest">4 guests</option>
            <option value="5_guest">5 guests</option>
            <option value="6_guest">6 guests</option>
            <option value="7_guest">7 guests</option>
            <option value="8_guest">8 guests</option>
            <option value="9_guest">9 guests</option>
            <option value="10_guest">10 guests</option>
            <option value="11_guest">11 guests</option>
            <option value="12_guest">12 guests</option>
        </select><br><br>
        <input type="submit" value="Search" id="booking_search">
    </form>
</div>

<section id="deals_wrap">
    <div>
        <h2>Hot Deals</h2>
        <div id="deals_inside_wrap">
            <div id="first">
                <img src="IMG/Kitchener_ON.jpg" alt="Kitchener_ON.jpg">
                <p>Kitchener, Ontario</p>
                <p>$50 CAD/night average</p>
            </div>
            <div>
                <img src="IMG/Hamilton_ON.jpg" alt="Hamilton_ON.jpg">
                <p>Hamilton, Ontario</p>
                <p>$60 CAD/night average</p>
            </div>
            <div>
                <img src="IMG/London_ON.jpg" alt="London_ON.jpg">
                <p>London, Ontario</p>
                <p>$70 CAD/night average</p>
            </div>
            <div>
                <img src="IMG/Toronto_ON.jpg" alt="Toronto_ON.jpg">
                <p>Toronto, Ontario</p>
                <p>$120 CAD/night average</p>
            </div>
        </div>
    </div>
</section>
<section id="about_wrap">
    <div>
        <img id="slider" src="IMG/Slideshow/1.jpg" alt="Slideshow">
    </div>
</section>
<section id="description_wrap">
    <h3>1. How does WillBrB work?</h3>
    <p>
        WillBrB is an online marketplace which lets people rent out their properties or spare rooms to guests.
        WillBrB takes 3%
        commission of every booking from hosts, and between 6% and 12% from guests.

        There’s plenty of criteria to list for/search a property: from a shared room to an entire house, to
        having a swimming
        pool to having a washing machine. There are photos of the property, and the hosts/guests, with full map
        listing.
    </p>
    <h3>2. Why do people like it?</h3>
    <p>
        A combination of factors, but primarily financial ones. Guests get good value accommodation at a huge
        range
        of price
        points, from a few pounds a night to hundreds and often in prime locations where a normal hotel would
        cost
        infinitely
        more.

        Hosts can cash in on spare space, perhaps if children have flown the nest and there’s a spare bedroom.
        In
        fact,
        according to economist Dr Margarethe Theseira, if an WillBrB host lists their property for seven days a
        month
        on average
        they would earn £5,600 per year, a boost to household income equivalent to a 15% pay rise for an average
        full-time
        employee.
    </p>
    <h3> 3. What are the other benefits?</h3>
    <p>
        There is more than a financial impetus though: many guests like living like a local and getting
        restaurant
        recommendations from people really in-the-know, while many hosts just enjoy meeting new people and
        showing
        off their
        home.

        4. Is it easy to book?
        Yes, very. Once you’ve created a verified profile (which can be linked to social media), you can send a
        message to the
        host and either book instantly, or submit a request for later booking. Hosts must show calendars of
        availability - most
        are kept well up-to-date - and they will inform you of what they will provide like towels or hairdryers.

        It’s not advised if you’re travelling through though - many people don’t take bookings for just one
        night.
    </p>
</section>
<script src="JS/home.js"></script>