<div id="search_field_wrap">

    <form method="POST" action="/RoomListing">
        <input type="text" name="search_field_name" id="search_field" placeholder="{{message}}">
        <input type="submit" value="Search" id="search_btn">
    </form>
</div>

<h2 id="head_text">Rent for leasure</h2>
<script src="JS/room_listing_v2.js"></script>